name: Deploy docs
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout codebase
        uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v2
      - name: Pull Submodules
        run: git submodule update --init --recursive
      - name: Build docs
        run: npm install && npm run build
      - name: Install ossutil
        run: wget http://gosspublic.alicdn.com/ossutil/1.7.3/ossutil64 && chmod 755 ossutil64
      - name: Config ossutil
        run: ./ossutil64 config -e oss-cn-beijing.aliyuncs.com -i ${{ secrets.OSS_ACCESS_KEY_ID }} -k ${{ secrets.OSS_ACCESS_KEY_SECRET }}
      - name: Upload docs
        run: ./ossutil64 cp -r -f ./src/.vuepress/dist/ oss://gocn-cdn/ekit/